.crafts-link {
  color: var(--color-accent);
  align-self: center;
  text-decoration: underline;
  font-size: inherit;
}
.crafts-link:hover {
  color: var(--color-accent-hover);
}
.nyc-info {
  margin-top: 3em;
}
